:root {
  --main-color: #000;
  --second-color: #fff;
  --light-yellow: #fff9c4;
  --yellow: #f0db4f;
  --medium-black: rgba(31, 41, 55, 1);
  --medium-black-opacity: rgba(31, 41, 55, 0.6);
  --light: rgba(255, 255, 255, 1);
  --light-gray: rgba(220, 220, 220, 1);
  --red: red;
  --gray: gray;
}
